html {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 22px;
    font-weight: 700;
    color: rgb(41, 54, 78)
}

p{
    font-size: 15px;
    font-weight: 400;
    color: rgb(170, 170, 179);
}

main{
    text-align: center;
    border: 1px solid white;
    border-radius: 1rem;
    width: 15.6rem;
    padding: 1rem 1rem 1.5rem 1rem;
    background-color: #FFFFFF;
    transition: box-shadow .5s;
}

main img{
    max-width: 100%;
    border-radius: .75rem;
}

main img:hover{
    max-width: 150%;
    border-radius: 1rem;
    transition: ease-out;
}

footer{
    width: 250px;
    text-align: center;
}